@use "./variables" as *;

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #db3434;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
  margin-top: 15%;
}

.warning{
  height: 90%;
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;

  h1{
    margin: 0 auto;
    font-size: 5rem;
    font-weight: bold;
    color: #8b0000;
  }
  
}

.gameplay {
  width: 80%;
  display: flex;
  flex-direction: column;

  h3{
    color: $white;
    font-weight: bold;
    font-size: 1.5rem;
  }

  .category {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-image: linear-gradient(135deg, $persian-green, $charcoal);
    border-radius: 5px;
    padding: 10px 4%;

    h2{
        color:$black;
        font-size: 1.5rem;
        font-weight: bold;
    }
  }

  .question {
    background-image: linear-gradient(141deg, #fffafa, #faebd7);
    border-radius: 5px;
    padding: 50px 20px;
    margin: 10px 0;
    text-align: center;

    p{
      font-size: 1.5rem;
    }
  }

  .answers {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;

    &.locked{
      pointer-events: none;
    }

    input {
        white-space: normal;
        background-color: $persian-green;
        width: 100%;
        border: none;
        border-radius: 5px;
        color: $black;
        padding: 16px 5%;
        text-align: center;
        font-size: 1.5rem;
        margin: 4px 0;
        opacity: 0.8;
        text-decoration: none;
    }

    .correct{
      animation-name: correct;
      animation-duration: 1s;
      animation-iteration-count: 3;
    }

    .incorrect{
      animation-name: incorrect;
      animation-duration: 1s;
      animation-iteration-count: 3;
    }
  }
}

.cover{
  position: absolute;
  width: 100%;
  height: 200px;
  z-index: 1;
}

@keyframes correct {
  from {background-color: green; 
    opacity: 1}
  to {background-color: $persian-green;
    opacity: 1}
}

@keyframes incorrect {
  from {background-color: red; 
    opacity: 1}
  to {background-color: $persian-green;
    opacity: 1}
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}