@use "./Mixins/Button.scss" as *;
@use "./variables" as *;

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 25px;

  background-image: linear-gradient(135deg, $persian-green, $charcoal);
  border-radius: 10px;

  p {
    color: $white;
    font-size: 1.2rem;
    line-height: 1.3rem;
  }

  a {
    text-decoration: none;
    width: 100%;
  }

  .button{
    @include btn($black);
    width:100%;
    padding: 10px 0;
    color: $white;
    font-size: 1.8rem;
    font-weight: bold;
    border-radius: 5px;
  }

  .modal {
    width: 75%;
    position: absolute;
    transform: scale(0);
    transition: .5s;
    z-index: 1;
    background-image: linear-gradient(135deg, $persian-green, $charcoal);
    box-shadow: 0 4px 8px 0 $persian-green, 0 6px 20px 0 $black;

    .modal-header {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      align-items: center;
      padding: 3px 3%;
      background-image: linear-gradient(135deg, $persian-green, $charcoal);
      cursor: default;

      h2 {
        font-size: 1.5rem;
        font-weight: bold;
        color: $black;
      }
      
      .close {
        color: $black;
        font-weight: bold;
        font-size: 2rem;

        &:hover,
        &:focus {
          color: $white;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }

    .modal-body {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 16px;

      a{
        width: 80%;

        input{
          width: 100%;
        }
      }

      input {
        @include btn($black);
        width: 80%;
        padding: 10px 10%;
        border-radius: 5px;
        font-size: 1.5rem;
        font-weight: bold;
        color: $white;
      }

      &.categories{
        max-height: calc(100vh - 180px);
        align-self: center;
        justify-self: center;
        overflow-y: auto;
        margin:0;
      }
    }

    &.opened{
      transform: scale(1);
    }
  }
}