@use "./Mixins/Button.scss" as *;
@use "./variables" as *;

.navBar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60px;
  padding:10px;
  background-image: linear-gradient(135deg, $persian-green, $charcoal, $persian-green);

  .navBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;

    svg {
      cursor: pointer;
      font-size: 4rem;
      color: $black;
    }

    .userOpened{
      color: $persian-green;
      background-color: $black;
      border-radius: 50%;
    }
  }

  .menu {
    display: flex;

    .navLinks {
      width: 0%;
      overflow: hidden;
      transition: .5s;
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 60px;
      left: 0;
      z-index: 2;
      background-image: linear-gradient(135deg, $persian-green, $charcoal);
      border-radius: 0 0 10px 0;
      
      a {
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: bold;
        color: $black;
        padding:20px 10px;
      }

      &.opened{
        width: 50%;
      }
    } 

    .userPage {
      width: 0%;
      overflow: hidden;
      transition: .5s;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      top:60px;
      right: 0px;
      z-index: 2;
      background-image: linear-gradient(225deg, $persian-green, $charcoal);
      border-radius: 0 0 0 10px;

      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      form {
        width: 80%;
        display: flex;
        flex-direction: column;
    
        input {
          width: 100%;
          padding: 15px 20px;
          border: 2px solid #ccc;
          box-sizing: border-box;
          border-radius: 10px;
        }
    
        label {
          font-size: 1.5rem;
          font-weight: bold;
          margin-top: 10px;
          margin-bottom: 5px;
        }
    
        .loginBtn {
          @include btn($black);
          font-size: 1.5rem;
        }
        
        a {
          text-decoration: none;
          width: 100%;
          color: $black;
          margin-bottom: 10px;
        }
      }
  
      img {
        height: 100px;
        border-radius: 50%;
      }
  
      h2 {
        animation: transform 0.6s 1;
        font-size: 1.8rem;
        font-weight: bold;
        cursor: pointer;
        margin-bottom: 7px;
      }
  
      h3 {
        animation: transform 0.6s 1;
        font-size: 1.5rem;
        cursor: pointer;
        margin-bottom: 15px;
      }
  
      input {
        animation: transform 0.6s 1;
        width: 80%;
        padding: 10px 15px;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
      }
  
      .logoutBtn {
        background-color: $burnt-sienna;
        cursor: pointer;
        border: none;
        border-radius: 5px;
        color: white;
        text-align: center;
        font-size: 1.5rem;
        margin-top: 15px;
        margin-bottom: 15px;
      }

      &.opened{
        width: 50%;
      }
    }
  }
}