.navBar {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 10%;

  .navBtns {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      141deg,
      #dc143c -11%,
      #f08080,
      #dc143c 111%
    );
    box-shadow: 10px 10px 5px grey;
    padding: 0 2%;

    img {
      height: 50%;
      cursor: pointer;
    }
  }

  .navMenu {
    animation: flip 0.5s 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 20%;
    height: 90%;
    background-image: linear-gradient(
      141deg,
      #dc143c 20%,
      #f08080,
      #dc143c 80%
    );

    a {
      text-decoration: none;
      color: black;
    }

    h2 {
      animation: transform 0.5s 1;
      font-size: 1.8rem;
      cursor: pointer;
      margin: 30px 0;
    }
  }

  .userPage {
    animation: flip 0.5s 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    right: 0px;
    height: 90%;
    width: 20%;
    z-index: 1;
    background-image: linear-gradient(
      141deg,
      #dc143c 20%,
      #f08080,
      #dc143c 80%
    );

    img {
      animation: transform 0.6s 1;
      width: 50%;
      border-radius: 50%;
    }

    div{
      animation: transform 0.6s 1;
    }

    h2 {
      animation: transform 0.6s 1;
      font-size: 1.5rem;
      font-weight: bold;
      cursor: pointer;
      margin-bottom: 15px;
    }

    h3{
      animation: transform 0.6s 1;
      font-size: 1rem;
      cursor: pointer;
      margin-bottom: 15px;
    }

    input {
      animation: transform 0.6s 1;
      width: 80%;
      padding: 1rem 1.5rem;
      display: inline-block;
      border: 1px solid #ccc;
      box-sizing: border-box;
    }

    .logoutBtn {
      animation: transform 0.6s 1;
      background-color: #ff0000;
      cursor: pointer;
      border: none;
      color: white;
      text-align: center;
      font-size: 1rem;
      opacity: 0.6;
      transition: 0.3s;
      margin-top: 15px;
    }
    :hover {
      opacity: 1;
    }
  }

  .navUser {
    animation: flip 0.5s 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 20%;
    height: 90%;
    right: 0px;
    z-index: 1;
    background-image: linear-gradient(
      141deg,
      #dc143c 20%,
      #f08080,
      #dc143c 80%
    );

    form{
      animation: transform 0.5s 1;
      width: 80%;
      display: flex;
      flex-direction: column;
    }

    a {
      text-decoration: none;
      color: black;
    }

    input {
      width: 100%;
      padding: 15px 20px;
      border: 2px solid #ccc;
      box-sizing: border-box;
      border-radius: 10px;
    }

    h2 {
      animation: transform 0.5s 1;
      font-size: 1.3rem;
      cursor: pointer;
      margin-top: 30px;
      margin-bottom: 15px;
    }

    .loginBtn {
      animation: transform 0.6s 1;
      background-color: #008d00;
      cursor: pointer;
      border: none;
      color: white;
      text-align: center;
      font-size: 1rem;
      opacity: 0.6;
      transition: 0.3s;
      margin-top: 1rem;
    }
    :hover {
      opacity: 1;
    }
  }
}

@keyframes flip {
  from {
    width: 0;
  }
  to {
    width: 20%;
  }
}

@keyframes transform {
  from {
    transform: scale(0)
  }
  to {
    transform: scale(1)
  }
}
