@use "./Mixins//Button.scss" as *;
@use "./variables" as *;

.registerPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  padding: 15px 5%;

  background-image: linear-gradient(135deg, $persian-green, $charcoal);
  border-radius: 10px;

  h1{
    color: $black;
    font-size: 2rem;
    font-weight: bold;
  }

  h2{
    color: $black;
    font-size: 1.5rem;
    font-weight: bold;
    margin-top: 10px;
  }

  form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;

    input {
      margin: 10px 0 5px 0;
      padding: 10px 5%;
      background-color: $black;
      color: $white;
      border-radius: 5px;
    }

    input[type="submit"] {
      @include btn($black);
      width: 70%;
      font-size: 1.5rem;
      font-weight: bold;
    }
  }
}


@media (min-width: $desktop) {
  .registerPage{
    width: 50%;

    form{
      input{
        width: 100%;
      }

      input[type=submit]{
        width: 30%;
      }
    }
  }
}