@use "./variables" as *;

.TopPlayers {
  display: flex;
  flex-direction: column;

  width: 60%;
  padding: 20px 5%;
  background-image: linear-gradient(135deg, $persian-green, $charcoal);
  border-radius: 10px;

  .header {
    width: 100%;

    h1 {
      width: 100%;
      text-align: center;
      font-size: 2rem;
      font-weight: bold;
    }
  }

  .body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;

    div {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 10px;

      h2 {
        width: 20%;
        text-align: center;
        font-size: 1.5rem;
        font-weight: bold;
      }
    }
  }
}

@media (min-width: $desktop) {
    .TopPlayers{
        width: 50%;
    }
}